* {
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
  color: rgb(87, 189, 174);
  text-transform: uppercase;
  font-style: italic;
  font-size: 40px;
}

main {
  display: flex;
  justify-content: space-around;
  /* background: linear-gradient(rgb(232, 161, 70),  rgb(25, 44, 56)); */
}

header {
  /* background-color:rgb(232, 161, 70); */
  height: 50px;
}


footer {
  /* background-color: rgb(25, 44, 56); */
  height: 50px;
}

body {
  background: rgb(25, 44, 56);
}

/* LEFT PANEL  */
/* rgb(232, 161, 70); */

.left-panel {
  /* background: linear-gradient(rgb(232, 161, 70),  rgb(25, 44, 56)); */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.start-reset-game {
  /* background-color: mistyrose; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 500px;
}

.start-button, .reset-button {
  /* background-color: lightblue; */
  height: 100px;
  width: 300px;
  padding: 20px;
  cursor: pointer;
  background-color: rgb(248, 238, 225);
}


/* GRID SECTION */

.grid-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(232, 161, 70);
  /* background-color: salmon; */
}





.grid {
  /* align-items: center; */
  /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2); */
  background:  rgb(25, 44, 56);
  display: flex;
  flex-wrap: wrap;
  /* height: 200%; */
  justify-content: center;
  height: 800px;
  width: 400px;
}



.grid div {
  border: 1px solid rgb(232, 161, 70);
  /* background-color: rgb(248, 238, 225); */
  /* flex-grow: .5; */
  height: 5%;
  width: 10%;
  padding: 2px;
}

.grid div.square-full {
  background-color: lightcoral;
}

.grid div.square-full.orange-ricky {
  background-color: rgb(226, 84, 57);
}

.grid div.square-full.blue-ricky {
  background-color: rgb(195, 88, 229);
}

.grid div.square-full.cleveland-z {
  background-color: rgb(223, 210, 72);
}

.grid div.square-full.rhode-island-z {
  background-color: rgb(232, 161, 70);
}

.grid div.square-full.hero {
  background-color: rgb(87, 189, 174);
}

.grid div.square-full.teewee {
  background-color: rgb(222, 224, 166);
}

.grid div.square-full.smashboy {
  background-color: rgb(217, 177, 216);
}






/* RIGHT PANEL  */

.right-panel {
  /* background-color: rgb(232, 161, 70); */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.score-wrapper {
  /* background-color: rgb(248, 238, 225); */
  flex-grow: 1;
  text-align: center;
}


.level-wrapper {
  /* background-color: rgb(248, 238, 225); */
  flex-grow: 1;
  text-align: center;
}

/* UP NEXT */

.up-next-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: salmon; */
}


.up-next-grid {
  /* align-items: center; */
  /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2); */
  background: rgb(25, 44, 56);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 200px;
  height: 160px;
}

.up-next-grid div {
  /* border: 1px solid rgb(232, 161, 70); */
  /* background-color: rgb(248, 238, 225); */
  /* flex-grow: .5; */
  width: 20%;
  height: 25%;
  font-size: small;
  
  /* padding: 2px; */
}

/* UP NEXT GRID */

.up-next-grid div.square-full {
  background-color: lightcoral;
}

.up-next-grid div.square-full.orange-ricky {
  background-color: rgb(226, 84, 57);
}

.up-next-grid div.square-full.blue-ricky {
  background-color: rgb(195, 88, 229);
}

.up-next-grid div.square-full.cleveland-z {
  background-color: rgb(223, 210, 72);
}

.up-next-grid div.square-full.rhode-island-z {
  background-color: rgb(232, 161, 70);
}

.up-next-grid div.square-full.hero {
  background-color: rgb(87, 189, 174);
}

.up-next-grid div.square-full.teewee {
  background-color: rgb(222, 224, 166);
}

.up-next-grid div.square-full.smashboy {
  background-color: rgb(217, 177, 216);
}