* {
  box-sizing: border-box;
  /* color: rgb(87, 189, 174); */
  text-transform: uppercase;
  
  font-size: 40px;
  /* cursor: default; */
}

main {
  display: flex;
  justify-content: center;
  /* background: linear-gradient( rgb(25, 44, 56), rgb(87, 189, 174)); */
}

header {
  /* background-color:rgb(232, 161, 70); */
  height: 50px;
}


footer {
  /* background-color: rgb(232, 161, 70); */
  height: 50px;
}

body {
  background: rgb(25, 44, 56);
  font-family: 'Space Grotesk', sans-serif;
  color: rgb(87, 189, 174);
  font-style: italic;
  cursor: default;
}

/* LEFT PANEL  */

.left-panel {
  /* background: linear-gradient(rgb(232, 161, 70),  rgb(25, 44, 56)); */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-width: 400px;
}

.tetris div {
  /* display: flex;
  justify-self: start; */
  font-size: 120px;
  padding: 5px;
  /* text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; */
  text-shadow: rgb(217, 177, 216) 3px 3px;
  /* background-image: linear-gradient(45deg, #f3ec78, #af4261); */
}

.tetris {
  display: flex;
  justify-content: center;
}

.start-reset-game {
  /* background-color: mistyrose; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.start-button, .reset-button {
  /* background-color: lightblue; */
  display: flex;
  height: 100px;
  width: 300px;
  padding: 20px;
  cursor: pointer;
  background-color: rgb(248, 238, 225);
  border: 7px solid rgb(226, 84, 57);
  margin: 20px;
}

.music-on-off-section {
  display: flex;
  width: 250px;
  margin: 40px;
  justify-content: space-evenly;
  /* background-color: white; */
}

.music-on-off-section div {
  font-size: 30px;
  cursor: pointer;
}

.music-on-off-section div {
  font-size: 30px;
  cursor: pointer;
}

.music-on-off-section {
  cursor: pointer;
}

.controls-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 150px;
  height: 150px;
  background-color: rgb(217, 177, 216);
}

.controls-wrapper div {
  font-size: 20px;
  text-align: center;
  margin: 2px;
  color: rgb(25, 44, 56);
}

.left-right {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}




/* GRID SECTION */

.grid-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid rgb(232, 161, 70);
  /* background-color: salmon; */
}





.grid {
  /* align-items: center; */
  /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2); */
  /* background:  rgb(25, 44, 56); */
  display: flex;
  flex-wrap: wrap;
  /* height: 200%; */
  justify-content: center;
  height: 800px;
  width: 400px;
  padding: 10px;
  /* gap: .5px; */
}



.grid div {
  border: 1px solid rgb(87, 189, 174);
  /* background-color: rgb(248, 238, 225); */
  /* flex-grow: .5; */
  height: 5%;
  width: 10%;
  padding: 1px;
}

.grid div.square-full,
.up-next-grid div.square-full {
  background-color: lightcoral;
  border: 2px solid lightblue;
}

.grid div.square-full.orange-ricky,
.up-next-grid div.square-full.orange-ricky {
  background-color: rgb(226, 84, 57);
}

.grid div.square-full.blue-ricky,
.up-next-grid div.square-full.blue-ricky {
  background-color: rgb(195, 88, 229);
}

.grid div.square-full.cleveland-z,
.up-next-grid div.square-full.cleveland-z {
  background-color: rgb(223, 210, 72);
}

.grid div.square-full.rhode-island-z,
.up-next-grid div.square-full.rhode-island-z {
  background-color: rgb(232, 161, 70);
}

.grid div.square-full.hero,
.up-next-grid div.square-full.hero {
  background-color: rgb(87, 189, 174);
}

.grid div.square-full.teewee,
.up-next-grid div.square-full.teewee {
  background-color: rgb(222, 224, 166);
}

.grid div.square-full.smashboy,
.up-next-grid div.square-full.smashboy {
  background-color: rgb(217, 177, 216);
}






/* RIGHT PANEL  */

.right-panel {
  /* background-color: rgb(232, 161, 70); */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.score-wrapper {
  /* background-color: rgb(248, 238, 225); */
  /* flex-grow: 1; */
  text-align: center;
  
}

.score-display {
  font-size: 100px ; 
}


.level-wrapper {
  /* background-color: rgb(248, 238, 225); */
  /* flex-grow: 1; */
  text-align: center;
}

.level-display {
  font-size: 100px;
  text-shadow: rgb(217, 177, 216) 3px 3px;
}

.score-wrapper div, .level-wrapper div, .up-next-wrapper div {
  text-shadow: rgb(217, 177, 216) 3px 2px;
  letter-spacing: 0.1em;
}

/* UP NEXT */

.up-next-wrapper {
  /* flex-grow: 1; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: salmon; */
}


.up-next-grid {
  /* align-items: center; */
  /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2); */
  background: rgb(25, 44, 56);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 200px;
  height: 160px;
}

.up-next-grid div {
  /* border: 1px solid rgb(232, 161, 70); */
  /* background-color: rgb(248, 238, 225); */
  /* flex-grow: 1; */
  width: 20%;
  height: 25%;
  font-size: small;
  
  /* padding: 2px; */
}
