* {
  box-sizing: border-box;
}

.grid-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}


.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 500px;
  width: 500px;
}

.grid div {
  border: 1px solid lightgrey;
  background-color: lightskyblue;
  flex-grow: 1;
  height: 10%;
  width: 10%;
}

.grid div.square-full {
  background-color: lightcoral;
}

.grid div.square-full.teewee {
  background-color: red;
}

.grid div.square-full.blue-ricky {
  background-color: rgb(0, 132, 255);
}

/* body > main > div > div > div.Y2.X6.square-full.blue-ricky
 */
